
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
  
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Portrait</li>
          </ol>
          <h2>Portrait</h2>
  
        </div>
      </section><!-- End Breadcrumbs -->
  
      <section id="about" class="inner-page">
        <div class="container" >
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" >
                <h2>About Us</h2>
                <p class="">
                  OPSECS Ltd is a Category II MFE created on 18 December 2013. It started as a Category I
                  Financial Cooperative Society named Opus Securitatis Savings and Loan Cooperative Society
                  Limited (OPSEC) that opened its doors to the public on the 22nd of January, 2014.
                </p>
                <p>It was meant to be a Category I Microfinance Institution akin to a Credit Union under law No 92/006 of
                  August 14th 1992 and its Decree of implementation 92/455/PM of November 23 1992. In
                  addition to its registration, given the activities undertaken, OPSEC also came under the terms of Decree
                  No 98/300/PM of September 9 1988, defining the terms of operations of credit and
                  savings cooperatives.
                </p>
                <p> In a quest to offer good services to its clients, during the Board of
                  Directors meeting of 3rd April 2014 with a majority of shareholders present, it was resolved that the
                  institution be transformed from a Category I MFI to a Category II MFI and its name changed from Opus
                  Securitatis Savings and Loan Cooperative Society Limited to Opus Securitatis
                  Solidarity Limited (OPSECS Ltd).
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center pt-5">
                <img src="../../../assets/img/about.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <!-- ======= About Section ======= -->
      <section id="vision" class="about section-bg">
        <div class="container" >
  
          <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch">
              <div class="content">
                <h3>Opus Securitatis Solidarity Limited</h3>
                <p>
                  OPSECS Ltd is a Category II microfinance created to facilitate and promote the financial sustainability
                  of its customers.
                </p>
                <h4>Our Vision</h4>
                <p>
                  Our vision is to be the leading Category II MFE that provides financial services to the less privileged
                  irrespective of religion, race, and gender.
                </p>
                <h4>Our Mission</h4>
                <p>
                  Our mission is to provide financial security and empower the less privileged.
                </p>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-stretch">
  
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <h4>Our Core Values (C.A.R.E)</h4>
                </div>
                <div class="row">
                  <div class="col-md-6 icon-box" >
                    <i class='bx bxs-pin'></i>
                    <h4>Committed</h4>
                    <p>We put ourselves at your service for your maximum satisfaction</p>
                  </div>
                  <div class="col-md-6 icon-box">
                    <i class='bx bx-bullseye'></i>
                    <h4>Accurate</h4>
                    <p>We offer efficient and effective services</p>
                  </div>
                  <div class="col-md-6 icon-box">
                    <i class='bx bxs-bank'></i>
                    <h4>Reliable</h4>
                    <p>Your money is safe, secured, and at your disposal</p>
                  </div>
                  <div class="col-md-6 icon-box" >
                    <i class='bx bx-home-heart'></i>
                    <h4>Empathy</h4>
                    <p>We place ourselves in our customers' situation making sure their financial problems are
                      solved satisfactorily</p>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->
  
      <!-- ======= Pricing Section ======= -->
      <section id="network" class="pricing">
        <div class="container" >
  
          <div class="section-title">
            <h2>Our Network</h2>
            <p>While we're expanding our network to be able to serve you better, these are our offices that are currently
              operational.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="box featured">
                <h3>Head Office</h3>
                <ul>
                  <li>All Saints Business Center Bayelle, Nkwen
                    P.O. Box 82 Mankon Bamenda</li>
                  <li>(+237) 233 736 614 <br> (+237) 676 97 78 36</li>
                  <li><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4b243b382e283823240b243b382e2838273f2f65282426">myemail@gmail.com</a></li>
                </ul>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="box " >
                <h3>Bamenda I Branch Office</h3>
                <ul>
                  <li>Opposite Abobo Building, Commercial Avenue</li>
                  <li> (+237) 677 987 302</li>
                  <li><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a5cad5d6c0c6d6c6cac8c4d3c0cbd0c0e5cad5d6c0c6d6c9d1c18bc6cac8">[email&#160;protected]</a></li>
                </ul>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="box " >
                <h3>Bamenda II Branch Office</h3>
                <ul>
                  <li>All Saints Business Center Bayelle, Nkwen</li>
                  <li>(+237) 670 343 827</li>
                  <li><br> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c5aab5b6a0a6b6abaeb2a0ab85aab5b6a0a6b6a9b1a1eba6aaa8">[email&#160;protected]</a></li>
                </ul>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="box " >
                <h3>Yaoundé I Branch Office</h3>
                <ul>
                  <li>Biyem-Assi, 100m from Bonandjo Snack towards Acacia</li>
                  <li>(+237) 652 387 540</li>
                  <li><br> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7e110e0d1b1d0d1c17071b131f0d0d173e110e0d1b1d0d120a1a501d1113">[email&#160;protected]</a></li>
                </ul>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="box" >
                <h3>Douala I Branch Office</h3>
                <ul>
                  <li>Opposite Total Camp Yabassi</li>
                  <li>(+237) 670 343 779</li>
                  <li><br> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6b041b180e08180609041b1b022b041b180e0818071f0f45080406">[email&#160;protected]</a></li>
                </ul>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="box " >
                <h3>Douala II Branch Office</h3>
                <ul>
                  <li>ImmeubleTakodji, Rail Bonaberi</li>
                  <li>(+237) 674 049 648</li>
                  <li><br> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d3bca3a0b6b0a0b1bcbdb2b1b6a1ba93bca3a0b6b0a0bfa7b7fdb0bcbe">[email&#160;protected]</a></li>
                </ul>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="box " >
                <h3>Kumbo Branch Office</h3>
                <ul>
                  <li>Kumbo Cathedral, Beside the Catholic Bookshop</li>
                  <li>(+237) 660 353 994</li>
                  <li><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9bf4ebe8fef8e8f0eef6f9f4dbf4ebe8fef8e8f7efffb5f8f4f6">[email&#160;protected]</a></li>
                </ul>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
              <div class="box " >
                <h3>Buea Branch Office</h3>
                <ul>
                  <li>UB Junction</li>
                  <li> (+237) 660 353 994</li>
                  <li><br> <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f699868593958594839397b69986859395859a8292d895999b">[email&#160;protected]</a></li>
                </ul>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Pricing Section -->
  