<app-hero></app-hero>


    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" >
  
          <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch">
              <div class="content">
                <h3>Opus Securitatis Solidarity Limited</h3>
                <p>
                  OPSECS Ltd is a Category II microfinance created to facilitate and promote the financial sustainability of its customers.
                </p>
                <a class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
            <div class="col-xl-7 d-flex align-items-stretch">
              <div class="icon-boxes d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-md-6 icon-box" >
                    <i class='bx bxs-pin'></i>
                    <h4>Committed</h4>
                    <p>We put ourselves at your service for your maximum satisfaction</p>
                  </div>
                  <div class="col-md-6 icon-box">
                    <i class='bx bx-bullseye'></i>
                    <h4>Accurate</h4>
                    <p>We offer efficient and effective services</p>
                  </div>
                  <div class="col-md-6 icon-box" >
                    <i class='bx bxs-bank'></i>
                    <h4>Reliable</h4>
                    <p>Your money is safe, secured, and at your disposal</p>
                  </div>
                  <div class="col-md-6 icon-box">
                    <i class='bx bx-home-heart'></i>
                    <h4>Empathy</h4>
                    <p>We place ourselves in our customers' situation making sure their financial problems are
                      solved satisfactorily</p>
                  </div>
                </div>
              </div><!-- End .content-->
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->

<app-counts></app-counts>
<app-tabs></app-tabs>
<app-services></app-services>
<app-testimonials></app-testimonials>
<app-faqs></app-faqs>
<app-teamsection></app-teamsection>
<app-contact></app-contact>