    <!-- ======= Tabs Section ======= -->
    <section id="tabs" class="tabs">
        <div class="container" >
  
          <ul class="nav nav-tabs row d-flex">
            <li class="nav-item col-2">
              <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                <i class="ri-gps-line"></i>
                <h4 class="d-none d-lg-block">Individuals</h4>
              </a>
            </li>
            <li class="nav-item col-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                <i class="ri-body-scan-line"></i>
                <h4 class="d-none d-lg-block">NGOs, SMEs, ...</h4>
              </a>
            </li>
            <li class="nav-item col-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                <i class="ri-sun-line"></i>
                <h4 class="d-none d-lg-block">Companies</h4>
              </a>
            </li>
            <li class="nav-item col-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                <i class="ri-store-line"></i>
                <h4 class="d-none d-lg-block">Ministries</h4>
              </a>
            </li>
            <li class="nav-item col-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-5">
                <i class="ri-store-line"></i>
                <h4 class="d-none d-lg-block">Parastatals</h4>
              </a>
            </li>
            <li class="nav-item col-2">
              <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-6">
                <i class="ri-store-line"></i>
                <h4 class="d-none d-lg-block">Others</h4>
              </a>
            </li>
          </ul>
  
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" >
                  <h4>Individuals can open Current, Savings, and Salary Accounts</h4>
                  <p class="fst-italic">
                    The required documents are for opening these accounts are: 
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> 3 passport size photographs</li>
                    <li><i class="ri-check-double-line"></i> Photocopy of identity Card or Passport</li>
                    <li><i class="ri-check-double-line"></i> Birth Certificate for minor’s accounts</li>
                    <li><i class="ri-check-double-line"></i> Residence Permit for foreigners</li>
                    <li><i class="ri-check-double-line"></i> Recent utility bill or site plan</li>
                    <li><i class="ri-check-double-line"></i> Most recent payslip for salary accounts</li>
                    <li><i class="ri-check-double-line"></i> Initial deposit for current account: FCFA 25 000</li>
                    <li><i class="ri-check-double-line"></i> Initial deposit for Salary Account : FCFA 0</li>
                    <li><i class="ri-check-double-line"></i> Initial deposit for Savings Account : FCFA 20 000</li>
                  </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center" >
                  <img src="../../../assets/img/individuals.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h4>NGOs, Cooperatives, SMEs/SMIs, Associations and liberal professionals can open Current and Savings accounts</h4>
                  <p class="fst-italic">
                    The required documents are for opening these accounts are:
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> 3 passport size photographs of each signatory</li>
                    <li><i class="ri-check-double-line"></i> Photocopy of ID Card or Passport of each signatory</li>
                    <li><i class="ri-check-double-line"></i> Certificate of Registration (Association & NGOs)</li>
                    <li><i class="ri-check-double-line"></i> Accreditation / Licence (ETS/Cooperatives)</li>
                    <li><i class="ri-check-double-line"></i> Certified true copie of Rules / Constitution (Association & NGO)</li>
                    <li><i class="ri-check-double-line"></i> Initial Deposit for Savings Account: FCFA 15 000</li>
                    <li><i class="ri-check-double-line"></i> Initial Deposit for Current Account : FCFA 25 000</li>
                    <li><i class="ri-check-double-line"></i> A Board Resolution stating Opening of an Account with OPSECS Ltd.</li>
                  </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="../../../assets/img/ngo.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Companies can open Corporate accounts</h3>
                  <p class="fst-italic">
                    The required documents are for opening these accounts are:
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> 3 passport size photographs of each signatory</li>
                    <li><i class="ri-check-double-line"></i> Photocopy of ID Card or Passport of each signatory</li>
                    <li><i class="ri-check-double-line"></i> Statute of the company (OHADA Standard)</li>
                    <li><i class="ri-check-double-line"></i> Current Business Licence</li>
                    <li><i class="ri-check-double-line"></i> Copy of Certificate of Incorporation</li>
                    <li><i class="ri-check-double-line"></i> Tax payer's card</li>
                    <li><i class="ri-check-double-line"></i> Certificate of localization</li>
                    <li><i class="ri-check-double-line"></i> Articles of Association for Corporate Account</li>
                    <li><i class="ri-check-double-line"></i> A Board Resolution stating Opening of an Account with OPSECS Ltd.</li>
                  </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="../../../assets/img/companies.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Ministries and the National Assembly can open Public Sector accounts</h3>
                  <p class="fst-italic">
                    The required documents are for opening these accounts are:
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> Letter of request to open an Account by the Ministry / Government body concerned</li>
                    <li><i class="ri-check-double-line"></i> 3 passport size photographs of each signatory</li>
                    <li><i class="ri-check-double-line"></i> Photocopy of ID Card or Passport of each signatory</li>
                    <li><i class="ri-check-double-line"></i> Initial deposit of Public Sector FCFA 50 000</li>
                  </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="../../../assets/img/ministries.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Parastatals can open Public Sector accounts</h3>
                  <p class="fst-italic">
                    The required documents are for opening these accounts are:
                  </p>
                  <ul>
                    <li><i class="ri-check-double-line"></i> A Board Resolution stating Opening of an Account with OPSECS Ltd.</li>
                    <li><i class="ri-check-double-line"></i> Copy of decree setting up the parastatal</li>
                    <li><i class="ri-check-double-line"></i> 3 passport size photographs of each signatory</li>
                    <li><i class="ri-check-double-line"></i> Photocopy of ID Card or Passport of each signatory</li>
                    <li><i class="ri-check-double-line"></i> Articles of Association for Corporate Account</li>
                  </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="../../../assets/img/parastatals.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-6">
              <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                  <h3>Other remunerated deposits include: </h3>
                  
                  <ul>
                    <li><i class="ri-check-double-line"></i> Term Deposit: FCFA 1 000 000 min.</li>
                    <li><i class="ri-check-double-line"></i> Time Deposit: FCFA 1 000 000 min.</li>
                  </ul>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 text-center">
                  <img src="../../../assets/img/others.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Tabs Section -->